.wrap {
    width: 100%;
    overflow:hidden;
    height: auto;
    margin-bottom: 20px;
}

.fleft {
    float:left; 
    width: 50%;
    height: auto;
    /*background-color: #ffffff;*/
    background-color: white
}
.fright {
    float: right;
        height: auto;
        width: 50%;
        /*background-color: #ffffff;*/
        background-color: white
    }
#fleft:hover #Title{
    /*color: white;*/
}

#fright:hover #Title{
    /*color: white;*/
}
.fright:hover{
    /*background: rgba(187, 35, 207, 0.87);*/
    
}
.fleft:hover{
    /*background: #0077ffde;*/
}
.Title{
    color: black;
    width: 350px;
    height: fit-content;
    /*border-style: groove;*/
    margin-left: 305px;
    margin-top: 30px;
    text-align: center;
}
.AccountType{
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
}
.Imagen1{
    margin-left: 125px;
    height: max-content;
}
.Imagen2{
    height: 999px;
    margin-left: 185px;
}
.CardContainer{
    margin-top: 50px;
    /*border-style: groove;*/
    justify-content: center;
    display: flex;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}
.btn{
    line-height: inherit;
    height: auto;
}   
a{
    line-height: inherit;
    height: auto;
}
