.Footer{
    background-color: #000000;
}
.BottomFooter{
    background-color: #ea5f32;
    text-align: center;
    color: aliceblue;
}
.PageName{
    color: white;
    text-decoration: none;
}
.logosContainer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* fraction*/
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.linkList{
    display: flex;
    justify-content: center;
}
.CenterColumnDiv{
    padding-right: 15px;
    padding-left: 15px;
    border-right-style: solid;
    border-right-width: 0.1rem;
    border-right-color: white;
    justify-content: center;
    display: flex;
}
.LeftColumnDiv{
    padding-right: 15px;
    padding-left: 15px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 0.1rem;
    justify-content: center;
    display: flex;
}
.RightColumnDiv{
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    display: flex;
}
.title{
    position: relative;
   /* margin-top: 3em;
    padding-top: 3em;*/
    color: white;
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase;
}
.Logo{
    width: 125px;
    height: 125px;
}



