.Hwrap {
    width: 100%;
    overflow:hidden;
    height: 100%;
    margin-bottom: 0px;
}
.Hfleft { 
    float: left;
    width: 32%;
    height: 800px;
    background-color: whitesmoke;
    overflow-y: scroll;

    /*resize: horizontal;
    max-width: 32%;*/
    
}
/*[draggable=true] {
    cursor: move;
}*/

.Hfright {
    float: right;
    height: 800px;
    width: 68%;
    /*max-width: 60%;*/
    background-color: white;
    overflow-y: scroll;
    /*resize: horizontal;
    max-width: 75%;*/
}

/**/
.ListItemWrapDiv{
    overflow: hidden;
    height: auto;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.RinnerDiv {
    float: right;
    height: auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    justify-items: center;
    
}

.FilesListButton{
    z-index: 2;
    font-size: 40px;
   
}

.list-group-item{
    
    width: 60%;
    height: auto;
    cursor: pointer;
    
}
/*control panel title*/
.ControlPanelTitle{
    display: flex;
    justify-content: center;
    width: 40%;
}
.refreshButton{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    cursor: pointer;
    float: inline-end;
    margin-top: 5px;
}
.TitleDiv{
    display: block ruby;
    margin-bottom: 5px;
}
.titleIcon{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    margin-left: 45px;
    margin-bottom: 5px;
}

.FileHeaderLabels{
    margin: 5px;
    display: block;
}
.FileHeaderInputs{
    display: inline;
    margin-left: 8px;
}
.listDivRoot{
    width: 100%;
    max-width: 360px;
    background-color: white;
}
.classesSmall{
    width: 50px;
    height: 50px
}
.classesLarge{
    width: 70px;
    height: 70px
}
.newTaskIcon{
    z-index: 2;
    color: red;
    align-self: center
}


